<html>
	<head>
		<title>whoops</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
		<style>
			body{
				height: 100%;
			}
			.title {
				font-size: 72px;
			}

			.hero {
				height: 50%;
				padding-top: 100px;
				box-sizing: border-box;
			}
		</style>
	</head>

	<body>
		<div class="hero has-text-centered is-danger">
			<div class="container">
				<div class="hero-boy">
					<h1 class="title">
						WHOOPS!! 404..
					</h1>
					<br>
					<h3 class="subtitle">Theres nothing here, go away.. shuu..</h3>
				</div>
			</div>
		</div>
	</body>
</html>